@keyframes slideInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.card {
	display: flex;
	width: max-content;
	flex-direction: column;
	align-items: center;
	background: var(--bg-gradient);
	padding: 10px;
	border-radius: 8px;
	animation: slideInUp 0.6s ease-out forwards;
	transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.card:hover {
	cursor: pointer;
	background: var(--bg-color);
	box-shadow: 1px 1px 16px var(--card-shadow);
	transform: scale(1.09);
}

.card_image_container {
	width: 250px;
	background: var(--text);
	margin-bottom: 8px;
	border-radius: 12px;
	transition: transform 0.3s ease-out;
}

.card:hover .card_image_container {
	transform: scale(1.05);
}

.card_image_container img {
	width: 100%;
	object-fit: cover;
	filter: drop-shadow(1px 1px 10px black);
}

.name_pkm {
	font-size: 18px;
	font-weight: 700;
	transition: color 0.3s ease-out;
}

.card:hover .name_pkm {
	color: var(--bg-color);
}