.card {
	display: flex;
	width: max-content;
	flex-direction: column;
	align-items: center;
	background: var(--bg-gradient);
	padding: 10px;
	border-radius: 8px;
}

.card:hover {
	cursor: pointer;
	background: var(--bg-color);
	box-shadow: 1px 1px 16px var(--card-shadow);
	transform: scale(1.09);
}

.card_image_container {
	width: 250px;
	background: var(--text);
	margin-bottom: 8px;
	border-radius: 12px;
}

.card_image_container img {
	width: 100%;
	object-fit: cover;
	filter: drop-shadow(1px 1px 10px black);
}

.name_pkm {
	font-size: 18px;
	font-weight: 700;
}